# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with  defaults from defaults.sls ##}
{% import_yaml 'supervisor/defaults.yaml' as default_settings %}

{##
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}

{% set os_family_map = salt['grains.filter_by']({
    'Debian': {
        "pkg" : 'supervisor'
    },

    'RedHat': {
        "pkg" : 'supervisor',
        "config" : '/etc/supervisord.conf',
        "program_dir" : '/etc/supervisord.d',

        "service" : {
            "name" : 'supervisord',
        },

        "supervisord_conf" : {

            "unix_http_server" : {
                "file" : '/var/run/supervisor.sock',
                "chmod" : '0700',
            },

            "supervisord" : {
                "logfile" : '/var/log/supervisor/supervisord.log',
                "pidfile" : '/var/run/supervisord.pid',
                "childlogdir" : '/var/log/supervisor',
            },

            "include" : {
                "files" : '/etc/supervisord.d/*.conf',
            },

            "rpcinterface:supervisor" : {
                "supervisor.rpcinterface_factory" : 'supervisor.rpcinterface:make_main_rpcinterface'
            },

            "supervisorctl" : {
              "serverurl" : 'unix:///var/run/supervisor.sock'
            },
        },

    },

  }, grain="os_family", merge=salt['pillar.get']('supervisor:lookup')) %}

{## Merge the flavor_map to the default settings ##}
{% do default_settings.supervisor.update(os_family_map) %}

{## Merge in supervisor:lookup pillar ##}
{% set supervisor = salt['pillar.get'](
        'supervisor',
        default=default_settings.supervisor,
        merge=True
    )
%}
